@import '../../../variables';

// products styles

.products.module {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: @space-base;
  }

  .product {
    position: relative;
    flex: 0 0 @full;
    margin: @space-huge auto;
    padding: @space-base;

    @media (min-width: @phone-width) {
      flex: 0 0 @half;
    }

    @media (min-width: @laptop-width) {
      flex: 0 0 @third;
    }

    @media (min-width: @desktop-width) {
      flex: 0 0 @quarter;
    }

    .title {
      padding: @space-micro;
      border-bottom: @space-atomic solid;
    }

    .description {
      margin-bottom: @space-giant;
    }

    .meta {
      position: absolute;
      bottom: -(@space-base + @space-tiny);
      right: 0;
      padding: @space-mini;
      background-color: @header-color;
      color: @primary-color;
      font-size: @three-quarters;
    }

    .actions {
      position: absolute;
      bottom: 0;
      display: flex;
      margin: auto;
      width: @three-quarters;
      
      .qty.input {
        flex: 0 0 @quarter;
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        outline: 0;
        border: (@space-mini - @space-quantum) solid @secondary-color;
        text-align: right;
      }

      .button {
        flex: 0 0 @three-quarters;
      }
    }
  }
}