@import '../../../variables';

// cart styles

.cart.module {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: @space-mini;
  z-index: 10;

  .toggle.cart.button {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform @fast cubic-bezier(0.2, 1, 0.3, 1);
    backface-visibility: hidden;
    background-color: fade(@light, @three-quarters);
    z-index: 10;

    &:hover,
    &:focus{
      background-color: @secondary-color;
    }
  }

  .cart.items {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: @full;
    height: @full;
    padding: @space-base;
    background-color: @secondary-color;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  .meta {

    &.price {

    }

    &.count {
      position: absolute;
      top: 0;
      left: 0.25em;
      font-weight: normal;
    }
  }

  &.active {

    .toggle.cart.button {

    }

    .cart.items {
      opacity: 1;
      visibility: visible;
      transition: opacity @fast cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}