<template name="cart">
    {{#if Template.subscriptionsReady}}
        <div class="cart module {{toggleClass}}">
            {{> toggleCart}}
            <div class="cart modal">
                <h1 class="title">{{itemCount}} items in your Cart</h1>
                {{#if hasItems}}
                    {{> cartItems}}
                    {{> cartTotals}}
                    {{> checkoutCartItems}}
                {{else}}
                    <h2 class="negative title">You should buy some stuff!</h2>
                {{/if}}
            </div>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>