@import 'variables';

// display helpers

.hidden {
  display: none;

  &.mobile {

    @media(min-width: @tablet-width) {
      display: inline-block;
    }
  }
}

// wildcard

*,
*::before,
*::after {
  box-sizing: border-box;
}
